#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: beige;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('https://png.pngtree.com/background/20250104/original/pngtree-a-rustic-wooden-table-placed-in-front-of-serene-forest-setting-picture-image_16139649.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* 
-set transparent cover over the background image with linear gradient
- min-height to make sure body is at least as tall as the browser
- 100vh means 100% viewportheight to cover the whole page
*/